@charset "utf-8";

.screen .div {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #919191;
  width: 480px;
  height: 365px;
  position: relative;
}

.screen .button-listbox {
  position: absolute;
  width: 48px;
  height: 21px;
  top: 44px;
  left: 30px;
}

.screen .image {
  width: 8px;
  height: 5px;
  top: 11px;
  left: 24px;
  position: absolute;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .background-border {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 2px;
  background-color: #2c88de;
  border-radius: 8px;
  border: 1px solid;
}

.screen .container {
  position: absolute;
  width: 338px;
  height: 38px;
  top: 44px;
  left: 78px;
}

.screen .input {
  position: absolute;
  width: 339px;
  height: 26px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.screen .div-wrapper {
  position: relative;
  height: 25px;
}

.screen .text-wrapper {
  width: 67px;
  height: 25px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #8e8e8e;
  font-size: 17px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .horizontal-divider {
  position: absolute;
  width: 339px;
  height: 2px;
  top: 39px;
  left: 0;
  background-color: #0000001a;
  border-radius: 3px;
}

.screen .descriptions {
  position: absolute;
  width: 386px;
  height: 49px;
  top: 104px;
  left: 30px;
}

.screen .term {
  background-image: url(./img/term.png);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .details {
  width: 142px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 50px;
}

.screen .overlap-group {
  position: relative;
  height: 37px;
  border-radius: 4px;
}

.screen .combobox-listbox {
  position: absolute;
  width: 142px;
  height: 37px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #00000024;
}

.screen .text-wrapper-2 {
  width: 58px;
  height: 20px;
  top: 7px;
  left: 12px;
  font-family: "Noto Sans KR-Regular", Helvetica;
  font-weight: 400;
  color: #191919;
  font-size: 14px;
  line-height: 35px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .image-2 {
  width: 24px;
  height: 24px;
  top: 6px;
  left: 113px;
  position: absolute;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .descriptions-2 {
  position: absolute;
  width: 385px;
  height: 133px;
  top: 161px;
  left: 32px;
}

.screen .term-label {
  background-image: url(./img/term-label.png);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .details-2 {
  width: 335px;
  height: 121px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #00000024;
  position: absolute;
  top: 0;
  left: 50px;
}

.screen .textarea {
  position: absolute;
  width: 333px;
  height: 91px;
  top: 1px;
  left: 1px;
  overflow-x: scroll;
}

.screen .textarea::-webkit-scrollbar {
  width: 0;
  display: none;
}

.screen .text-wrapper-3 {
  width: 55px;
  height: 21px;
  top: 6px;
  left: 11px;
  font-family: "Noto Sans KR-Regular", Helvetica;
  font-weight: 400;
  color: #8e8e8e;
  font-size: 14px;
  line-height: 21px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .element {
  height: 15px;
  top: 98px;
  left: 752px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #8e8e8e;
  font-size: 11px;
  line-height: 15px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .span {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #8e8e8e;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 15px;
}

.screen .text-wrapper-4 {
  font-family: "Noto Sans KR-Regular", Helvetica;
}

.screen .view {
  position: absolute;
  width: 92px;
  height: 30px;
  top: 316px;
  left: 358px;
}

.screen .overlap {
  position: relative;
  width: 90px;
  height: 30px;
  background-color: #ef5327;
  border-radius: 20px;
  border: 1px solid;
  border-color: #ff9a7e;
}

.screen .text-wrapper-5 {
  height: 18px;
  top: 6px;
  left: 25px;
  font-family: "League Spartan-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .icon-cross {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 448px;
  aspect-ratio: 1;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}
