@charset "utf-8";


.left-main {
    width: 816px !important;
    border-right: 1px solid #eee;
}

.right-main {
    width: 464px !important;
    gap: 10px;
}

.list-basic {
    width: 90%;
    padding: 5px 5px;
    
}

.payment-method-box {
    width: 100%;
    height: auto;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.text-12 {
    width: 90%;
}

.margin-10 {
    width: 90%;
    margin-top: 10px;
}

.right-align {
    display: block;
    margin-left: auto;
}

.detail-list {
    
    padding: 5px 0px;
}

.row-flex-box.detail-list {
    border-bottom: 1px solid #9d9d9d;
}