* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
}


.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
/* 
h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
} */

.section {
  margin-bottom: 30px;
}

.section label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}


.category-wrapper {
  display: flex;
  align-items: center;
  gap: 12px; /* 사이 간격 */
  margin-top: 8px; /* 라벨 아래 간격 */
}


.category-select {
  font-weight: bold;
  font-size: 20px;
}


.category-box span {
  display: inline-block;
  background: #eee;
  padding: 6px 12px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.category-box .selected {
  background-color: #c9a37e;
  color: white;
}

.option-row {
  display: flex;
  gap: 10px;
}

.option-row input, .option-row select {
  flex: 1;
}

.image-preview {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-preview img {
  width: 100px;
  height: auto;
  border: 1px solid #ccc;
}

.image-preview div {
  color: red;
  cursor: pointer;
}

.description-box {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

.upload-check {
  color: #6e6e6e;
  margin-bottom: 20px;
}

.upload-btn {
  padding: 10px 20px;
  background-color: #c9a37e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delivery-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.delivery-type {
  padding: 8px 16px;
  border: 1px solid #c9a37e;
  background: white;
  color: #c9a37e;
  border-radius: 4px;
  cursor: pointer;
}

.delivery-type.active {
  background: #c9a37e;
  color: white;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn,
.submit-btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ddd;
  color: #333;
}

.submit-btn {
  background-color: #c9a37e;
  color: white;
}