@charset "utf-8";


/* 카테고리 선택 영역 */
.select-this {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  margin: auto 0px;
}

.sub-title-container {
  display: flex;
  padding: 0px 960px 0px 0px;
  margin: 0px auto;
  gap: 10px;
}

.sub-title-menu {
  margin: auto 0px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.controller {
  margin: 0px auto;
}


.price {
  padding: 10px 15px;
  display: inline-flex;
  align-items: center;
  border-right: 1px solid #ddd;
  white-space: nowrap;
  font-size: 14px;
  color: #000000;
}


/* 검색 영역 */
.search-price-field {
  width: 1280px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.search-area {
  display: flex;
  gap: 10px;
}


/* 가격 필터 */
.price-filter {
  display: flex;
}

.rectangle-2 {
  width: 230px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #ef5327;
  padding: 10px 45px 10px 15px;
  font-size: 14px;
}

.rectangle-2:focus,
.rectangle-2:active {
  background-color: #ffffff; /* 위와 동일한 색 */
  border: 2px solid #ef5327; /* 위와 동일한 테두리 */
  outline: none; /* 브라우저 기본 파란색 테두리 제거 */
}

.rectangle-2::placeholder {
  color: #999;
}

.icon-search {
  width: 25px;
  height: 25px;
  padding: 9px 0px 0px 0px;
}

/* 구분선 */
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 296px;
  left: 0;
  background-color: #ddd;
}


/* 상품 카드 위치 */

.sec-content-main {
  display: flex;
  gap: 40px;
  margin: 50px auto;
}


/* 상품 카드 내부 구조 */
.goods-wrap {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
}

.goods-img {
  width: 292px;
  height: 291px;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
}

.brand-name {
  width: 294px;
  height: 17px;
  color: #929292;
  background-color: #ffffff;
  padding: 20px 0px 6px 3px;
}

.goods-title {
  width: 292px;
  padding: 0px 0px 6px 3px;
}

.pay-wrap {
  width: 292px;
  height: 31px;
  padding: 5px 0px 0px 3px;
  background-color: #ffffff;
  display: flex;
}

.payment {
  font-size: 22px;
  font-weight: 700;
}

.won {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}

.text-wrapper-4 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
}