@charset "utf-8";

/* global.css 변형 */
.sec-content-main {
    flex-direction: column;
    gap: 30px;
}

/* 필터링 박스 */
.filter-area {
    width: 1280px;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #eee;
}

.icon-small {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    display: block;
}

.filter-period {
    appearance: none;
    /* 브라우저 기본 스타일 제거 */
    width: 120px;
    height: 23px;
    border-radius: 4px;
    text-align: center;
}

.search-name {
    appearance: none;
    width: 120px;
    height: 19px;
    border-radius: 5px;
    border: 1px solid #9d9d9d;
    text-align: center;
}

.filter-category {
    appearance: none;
    width: auto;
    font-size: 14px;
    background-color: #9d9d9d;
    color: white;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.more-detail {
    margin-left: auto;
    margin-right: 50px;
}

/* 날짜별 구매내역 */

.purchase-by-date {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border-radius: 10px;
}

.purchase-by-date .date {
    width: 1200px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.goods-list {
    width: 1160px;
    height: 100px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    margin-top: 30px;
}

.goods-list .left-side {
    display: flex;
}

.goods-img {
    width: 98px;
    height: 98px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.main-info .brand,
.main-info .goods-title {
    font-size: 14px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.goods-price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 36px;
    margin-left: 10px;
}

.text-14.detail {
    margin-left: 10px;
    margin-bottom: 5px;
}

.text-16.bold.detail {
    margin-left: 10px;
    margin-top: 42px;
}

.show-detail.text-align-right.detail {
    margin-top: 59px;
}

.other-info {
    font-size: 12px;
    text-align: right;
    color: #9d9d9d;
}

.order-number,
.funding-info {
    margin-top: 5px;
}


/* 여러상품 버전 */

.multi-goods-img {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 45px);
    grid-template-rows: repeat(2, 45px);
    border-radius: 4px;
    gap: 10px;
}

.img {
    width: 43px;
    height: 43px;
    border-radius: 4px;
    border: 1px solid #ddd;
}


/**************************/
/* 구매내역 상세보기 페이지 */
/**************************/

.sec-content-main {
    margin-top: 30px;
}

div.list-basic.list-1200.between-flex-box.detail {
   height: auto;
}

.list-basic.list-1200.column-flex-box.detail {
    height: auto;
    gap: 5px;
}

.box-line {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #eee;
}

