@charset "UTF-8";

.sec-content-main {
    justify-content: space-between;
    /* 선택 사항 (공간 조절용) */
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

/* 친구 펀딩, 마이 펀딩 */
.sec-sub-title h2 {
    gap: 20px;
    /* My위시리스트,마이펀딩,친구펀딩 사이 간격 */
    margin: 0;
    display: flex;
    /* 가로로 정렬 */
}

#sec-content .left-main {
    width: 640px;
    height: 540px;
    text-align: start;
    /* <select>와 <button> 모두 start 정렬 */
}

.left-icon img {
    width: 105px;
    height: 90px;
    padding: 200px 250px 0px 250px;
}

.left-main .left-box-down {
    padding-top: 15px;
    padding-left: 250px;
}

.left-main .left-box-down div {
    font-size: 12px;
    padding-bottom: 10px;
}

.left-main .left-box-down button {
    font-size: 12px;
    margin-left: 8px;
}

/* 오른쪽 메인 */
.sec-content-main .right-main {
    width: 640px;
    height: 540px;
    border-left: 1px solid #ddd;
}

.funding-list h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.funding-list .box {
    width: 1070px;
    height: 138px;
    border: 1px solid #7777774b;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.funding-list .text-search {
    width: 1010px;
    height: 40px;
    border: 1px solid #7777774b;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 28px;
}

.funding-list .text-search .img {
    width: 50px;
    height: 50px;
}

ul {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    /* ul 내부 li를 가로 정렬 */
    gap: 10px;
    /* li 사이 간격 */
    list-style: none;
    /* 점 없애기 */
    margin-top: 40px;
}

.my-fun{
    color: #000;
}

.friend-fun{
    color: #ddd;
}

.box-dn{
    width: 1280px;
    height: 500px;
    border-top: 1px solid #7777774b;
    margin-top: 20px;
    gap: 10px;
    padding-top: 300px;
    padding-left: 600px;
}

.myfun-down div{
    padding-left: 300px;
}

