@charset "UTF-8";

.sec-sub-title{
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;  /* 위 패딩 */
  padding-bottom: -20px;   /* 아래 패딩 */
}

.sec-sub-title ul li{ /* 친구 펀딩, 마이 펀딩 */
  width: 90px;
  font-size: 20px;
  font-weight: bold;
  color: #dddddd;
  padding-top: -40px;   /* 위 패딩 */
  padding-left: auto;
  padding-bottom: -100px;    /* 아래 패딩 */
  margin: 100 200;
}

/*
.screen .wishlist-header .funding-tabs div{
  writing-mode: horizontal-tb; /* 기본값 */
/*  
  top: 300px;
  left: 30px;  
}
*/ 

.screen .r-t01-1{
  width: 180px;
  height: 25px; 
  position: absolute;
  border: 2px solid #91836F;  
  top: 20px;
  left: 20px;
  text-align: center;      /* 가로 정렬 */
  vertical-align: middle;  /* 세로 정렬 */  
}

.screen .r-t01-2{
  position: absolute;
  width: 180px;
  height: 25px; 
  border: 2px solid #91836F;  
  top: 43px;
  left: 20px;
  text-align: center;      /* 가로 정렬 */
  vertical-align: middle;  /* 세로 정렬 */  
}

.screen .r-t01-3{
  position: absolute;
  width: 180px;
  height: 25px; 
  border: 2px solid #91836F;  
  top: 66px;
  left: 20px;
  text-align: center;      /* 가로 정렬 */
  vertical-align: middle;  /* 세로 정렬 */  
}

.screen .r-t01-4{
  position: absolute;
  width: 180px;
  height: 25px;    
  border: 2px solid #91836F;  
  top: 89px;
  left: 20px;
  text-align: center;      /* 가로 정렬 */
  vertical-align: middle;  /* 세로 정렬 */
}

.screen .r-t01-5{
  position: absolute;
  width: 180px;
  height: 25px;    
  border: 2px solid #91836F;  
  top: 112px;
  left: 20px;
  text-align: center;      /* 가로 정렬 */
  vertical-align: middle;  /* 세로 정렬 */

}

.screen .r-t01-6{
  position: absolute;
  width: 180px;
  height: 25px;    
  border: 2px solid #91836F; 
  top: 135px;
  left: 20px;
  text-align: center;      /* 가로 정렬 */
  vertical-align: middle;  /* 세로 정렬 */
}

.screen .r-t01-7{
  position: absolute;
  width: 180px;
  height: 25px;    
  border: 2px solid #91836F;  
  top: 158px;
  left: 20px;
  text-align: center;      /* 가로 정렬 */
  vertical-align: middle;  /* 세로 정렬 */
}

.screen .text-wrapper-29 {
  top: 25px;
  left: 450px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-30 {
  top: 25px;
  left: 520px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-31 {
  top: 25px;
  left: 570px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-32 {
  top: 25px;
  left: 640px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-36 {
  align-content: space-between;
  margin-top: 60px;
  margin-left: 330px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -10px;
  margin-left: -30px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0000004c;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-35 {
  position: relative;
  margin-top: -10px;
  margin-left: -35px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0000004c;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .frame-3 {
  display: inline-flex;
  justify-content: center;
  gap: 12px;
  top: 0;
  left: 107px;
  align-items: center;
  position: absolute;
}

.screen .frame-4 {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  top: 0;
  left: 0;
  align-items: center;
  position: absolute;
}

.screen .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1000px;
  position: relative;
}

.screen .overlap {
  position: absolute;
  width: 1280px;
  height: 809px;
  top: 156px;
  left: 323px;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #919191;
}

.screen .left-product-form {
  width: 894px;
  height: 900px;
  border-right: 1px solid #929292;
}

.screen .right-product-form {
  position: absolute;
  width: 386px;
  height: 764px;
  top: 79px;
  left: 1186px;
  border: 1px solid;
  border-color: #EAEAEA;
  border-top: #929292;
}

.screen .view {
  position: absolute;
  width: 597px;
  height: 89px;
  top: 9px;
  left: 143px;
}

.screen .image-cao1 {
  position: absolute;
  top: 63px;
  left: 1px;
  padding: 0px;
}

.screen .image-cao {
  position: absolute;
  top: 68px;
  left: 33px;
}

.screen .img {
  position: absolute;
  width: 51px;
  height: 22px;
  top: 67px;
  left: 0;
}

.screen .overlap-group {
  position: absolute;
  width: 591px;
  height: 38px;
  top: 23px;
  left: 0;
}

.screen .text-wrapper-2 {
  position: absolute;
  width: 107px;
  top: 19px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .p {
  position: absolute;
  width: 591px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-3 {
  position: absolute;
  width: 65px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .image-1 {
  position: absolute;
  width: 99px;
  height: 100px;
  top: 0;
  left: 31px;
  aspect-ratio: 0.99;
  object-fit: cover;
  border-radius: 10px;  
}

.screen .overlap-2 {
  position: absolute;
  width: 15px;
  height: 17px;
  top: 41px;
  left: 0;
}

.screen .group {
  position: absolute;
  width: 335px;
  height: 80px;
  top: 9px;
  left: 898px;
}

.screen .text-wrapper-4 {
  position: absolute;
  top: 63px;
  left: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .btn-funding1 {
  position: absolute;
  color: #ef5327;
  top: 730px;
  right: 350px;
  margin-bottom: 20px;
}

.screen .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 73px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-2 {
  position: absolute;
  width: 129px;
  height: 22px;
  top: 5px;
  left: -1000px;
}

.screen .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -3.61px;
  margin-bottom: -1.61px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-9 {
  position: absolute;
  width: 34px;
  top: 0;
  left: -1500px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-10 {
  position: absolute;
  width: 351px;
  top: 72px;
  left: -1000px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-11 {
  position: absolute;
  top: 44px;
  left: -1000px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .img-2 {
  width: 51px;
  height: 22px;
  top: 74px;
  position: absolute;
  left: 143px;
}

.screen .text-wrapper-12 {
  position: absolute;
  width: 88px;
  top: 50px;
  left: 144px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .carnation-cart{
  position: absolute;
  width: 51px;
  height: 22px;
  top: 74px;
  left: 143px;
}

.screen .carnation-heart{
  position: absolute;
  width: 51px;
  height: 22px;
  top: 78px;
  left: 180px; 
}

.screen .text-wrapper-13 {
  position: absolute;
  width: 660px;
  top: 25px;
  left: 144px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-14 {
  position: absolute;
  width: 65px;
  top: 5px;
  left: 144px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .image-2 {
  position: absolute;
  width: 99px;
  height: 100px;
  top: 0;
  left: 31px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;  
}

.screen .our-marriage {
  width: 643px;
  top: 28px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 143px;
}

.screen .overlap-4 {
  position: absolute;
  width: 78px;
  height: 42px;
  top: 50px;
  left: 138px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;  
}

.third-heyrumi .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: -10px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .image-3 {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 25px;
  left: 34px;
}

.screen .text-wrapper-16 {
  position: absolute;
  top: 5px;
  left: 143px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-3 {
  position: absolute;
  width: 360px;
  height: 87px;
  top: 5px;
  left: -2000px;
}

.screen .our-marriage-2 {
  position: absolute;
  width: 354px;
  top: 66px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .l-o-USB {
  width: 651px;
  top: 28px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 143px;
}

.screen .text-wrapper-18 {
  position: absolute;
  width: 357px;
  top: 70px;
  left: 898px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-19 {
  position: absolute;
  top: 49px;
  left: 143px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-20 {
  position: absolute;
  top: 7px;
  left: 143px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .image-2 {
  position: absolute;
  width: 98px;
  height: 100px;
  top: 0;
  left: 31px;
  aspect-ratio: 0.98;
  object-fit: cover;
  border-radius: 10px;  
}

.screen .div-wrapper {
  position: absolute;
  top: 72px;
  left: 146px;
}

.screen .image-5 {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 270px;
  left: -690px;
}

.screen .heyrumi-cart {
  position: absolute;
  top: 20px;
  left: 1px;
  padding-left: 0px;
}

.screen .heyrumi-heart {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 25px;
  left: 35px;
}

.screen .price-1990 [type="radio"] { /* 1,990원  (레이문) */
  position: absolute;
  width: 70px;
  top: 1000px;
  left: 10px;
  padding-top: 10px;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .view-2 {   /* 첫번째 이키 상품 큰 테두리 */
  position: absolute;
  width: 626px;
  height: 100px;
  top: 80px;
  left: 60px;
}

.screen .group-5 .first-product-image {  /* 첫번째 '뱀띠 아기선물' 상품 이미지 */ 
  position: absolute;
  width: 99px;
  height: 100px;
  top: 0;
  left: 0;
  aspect-ratio: 0.99;
  object-fit: cover;
  border-radius: 10px;  
}

.screen .first-a-to-cart { /* 첫번째 상품 장바구니 */ 
  position: absolute;
  top: 72px;
  left: 113px;
}

.screen .second-product { /* 2번째 상품 */
  position: relative;
  width: 1263px;
  height: 100px;
  top: 192px;
  left: 29px;
}

.screen .third-product { /* 3번째 상품 */
  position: absolute;
  width: 1258px;
  height: 100px;
  top: 304px;
  left: 29px;
}

.screen .fourth-product { /* 4번째 상품 */
  position: absolute;
  width: 1262px;
  height: 100px;
  top: 417px;
  left: 29px;
}

.screen .fifth-product { /* 다섯번째 상품 */
  position: absolute;
  width: 1227px;
  height: 100px;
  top: 528px;
  left: 29px;
}


.screen .left-product-form .first-product {  /* 임신/출산축하 뱀띠 아기선물 */
  position: absolute;
  top: 105px;
  left: 171px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .left-product-form .text-wrapper-24 {
  position: absolute;
  top: 82px;
  left: 172px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-5 .view-2 .price38900 {
  position: absolute;
  top: 49px;
  left: 112px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .first-heart {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 80px;
  left: 145px;
}

.screen .chk-box #chk-1 {
  position: absolute;
  top: 201px;
  left: 310px;
  padding-left: 0px;
}

.screen .chk-box #chk-2 {
  position: absolute;
  top: 300px;
  left: 310px;
  padding-left: 0px;
}

.screen .chk-box #chk-3 {
  position: absolute;
  top: 425px;
  left: 310px;
  padding-left: 0px;
}

.screen .chk-box #chk-4 {
  position: absolute;
  top: 540px;
  left: 310px;
  padding-left: 0px;
}

.screen .chk-box #chk-5 {
  position: absolute;
  top: 650px;
  left: 310px;
  padding-left: 0px;
}

.screen .group-6 {
  position: absolute;
  width: 332px;
  height: 84px;
  top: 50px;
  left: 100px;
}

.screen .text-wrapper-25 {
  position: absolute;
  top: 67px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .percent-5 {
  position: relative;
  width: fit-content;
  top: 400px;
  left: 1020px;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-6 .percent-a {
  position: relative;
  width: fit-content;
  top: 400px;
  left: 1020px;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.right-product-form .group-3 .frame{
  position: relative;
  width: fit-content;
  top: 100px;
  left: -100px;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

/*전액*/
.price-all>input[type="radio"]{
  margin-right: 10px;
}




/*
.screen .frame {
  display: flex;
  width: 40px;
  height: 17px;
  gap: 5px;
  top: 2px;
  left: 2px;
  align-items: center;
  position: absolute;
}
*/


/*
.screen .text-wrapper-22 {  /* 전액 */
/*
  position: absolute;
  top: 0;
  left: 71px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
*/

/*
.screen .ellipse {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: -7.87px;
  background-color: #000000;
  border-radius: 7.5px;
  border: 1px solid;
}
*/

/*
.screen .ellipse-2 {
  top: 4px;
  left: 114px;
  border-radius: 7.5px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}
*/

/*5% 전액*/
/*
.form-group>input[type="radio"],
.form-group>input[type="checkbox"]{
    margin-right: 10px;
}
*/

/*
.screen .text-wrapper-17 {
  position: absolute;
  width: 70px;
  top: 100px;
  left: 50px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}
*/

/*
.screen .frame-2 {
  display: flex;
  color: #000000; 
  width: 40px;
  height: 17px;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 2px;
  left: 1000px;
}
  */