.my {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.my .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1000px;
  position: relative;
}

.my .overlap {
  position: absolute;
  width: 1280px;
  height: 809px;
  top: 156px;
  left: 323px;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #919191;
}

.my .rectangle {
  position: absolute;
  width: 896px;
  height: 764px;
  top: -2px;
  left: -1px;
  border: 1px solid;
  border-color: #EAEAEA;
}

.my .rectangle-2 {
  position: absolute;
  width: 386px;
  height: 764px;
  top: -2px;
  left: 894px;
  border: 1px solid;
  border-color: #EAEAEA;
}



.my .element {
  position: absolute;
  width: 1227px;
  height: 100px;
  top: 513px;
  left: 15px;
}

.my .view {
  position: absolute;
  width: 597px;
  height: 89px;
  top: 9px;
  left: 143px;
}

.my .img {
  position: absolute;
  width: 51px;
  height: 22px;
  top: 67px;
  left: 0;
}

.my .overlap-group {
  position: absolute;
  width: 591px;
  height: 38px;
  top: 23px;
  left: 0;
}

.my .text-wrapper-2 {
  position: absolute;
  width: 107px;
  top: 19px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.my .p {
  position: absolute;
  width: 591px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-3 {
  position: absolute;
  width: 65px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .image {
  position: absolute;
  width: 99px;
  height: 100px;
  top: 0;
  left: 31px;
  aspect-ratio: 0.99;
  object-fit: cover;
}

.my .overlap-2 {
  position: absolute;
  width: 15px;
  height: 17px;
  top: 41px;
  left: 0;
}

.my .rectangle-3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 0;
}

.my .group {
  position: absolute;
  width: 335px;
  height: 80px;
  top: 9px;
  left: 898px;
}

.my .text-wrapper-4 {
  position: absolute;
  top: 63px;
  left: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .btn-funding1 {
  position: absolute;
  top: 190px;
  left: 245px;
}

.my .text-wrapper-5 {
  position: absolute;
  width: 90px;
  top: 40px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.my .frame {
  display: flex;
  width: 40px;
  height: 17px;
  gap: 5px;
  top: 2px;
  left: 2px;
  align-items: center;
  position: absolute;
}

.my .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -3.45px;
  margin-bottom: -1.45px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.my .ellipse {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: -7.87px;
  background-color: #000000;
  border-radius: 7.5px;
  border: 1px solid;
}

.my .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 73px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}


.my .ellipse-2 {
  top: 4px;
  left: 114px;
  border-radius: 7.5px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.my .element-2 {
  position: absolute;
  width: 1262px;
  height: 100px;
  top: 399px;
  left: 15px;
}

.my .group-2 {
  position: absolute;
  width: 129px;
  height: 22px;
  top: 5px;
  left: 900px;
}

.my .frame-2 {
  display: flex;
  width: 40px;
  height: 17px;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 2px;
  left: 0;
}

.my .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -3.61px;
  margin-bottom: -1.61px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-9 {
  position: absolute;
  width: 34px;
  top: 0;
  left: 71px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.my .ellipse-3 {
  top: 3px;
  left: 112px;
  border-radius: 7.5px / 7.36px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.my .text-wrapper-10 {
  position: absolute;
  width: 351px;
  top: 72px;
  left: 901px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-11 {
  position: absolute;
  top: 44px;
  left: 901px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.my .img-2 {
  width: 51px;
  height: 22px;
  top: 74px;
  position: absolute;
  left: 143px;
}

.my .text-wrapper-12 {
  position: absolute;
  width: 88px;
  top: 50px;
  left: 144px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-13 {
  position: absolute;
  width: 660px;
  top: 25px;
  left: 144px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-14 {
  position: absolute;
  width: 65px;
  top: 5px;
  left: 144px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.my .image-2 {
  position: absolute;
  width: 99px;
  height: 100px;
  top: 0;
  left: 31px;
  aspect-ratio: 1;
  object-fit: cover;
}


.my .element-3 {
  position: absolute;
  width: 1258px;
  height: 100px;
  top: 285px;
  left: 15px;
}

.my .our-marriage {
  width: 643px;
  top: 28px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 143px;
}

.my .overlap-4 {
  position: absolute;
  width: 78px;
  height: 42px;
  top: 53px;
  left: 143px;
}

.my .overlap-5 {
  position: absolute;
  width: 78px;
  height: 42px;
  top: 0;
  left: 0;
}

.my .text-wrapper-15 {
  position: absolute;
  width: 78px;
  top: 0;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}


.my .image-3 {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 25px;
  left: 34px;
}

.my .text-wrapper-16 {
  position: absolute;
  top: 5px;
  left: 143px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .group-3 {
  position: absolute;
  width: 360px;
  height: 87px;
  top: 5px;
  left: 898px;
}

.my .our-marriage-2 {
  position: absolute;
  width: 354px;
  top: 66px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-17 {
  position: absolute;
  width: 70px;
  top: 42px;
  left: 2px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.my .element-wrapper {
  position: absolute;
  width: 1255px;
  height: 100px;
  top: 171px;
  left: 15px;
}

.my .element-4 {
  position: relative;
  width: 1263px;
  height: 100px;
}

.my .l-o-USB {
  width: 651px;
  top: 28px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 143px;
}

.my .text-wrapper-18 {
  position: absolute;
  width: 357px;
  top: 70px;
  left: 898px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-19 {
  position: absolute;
  top: 53px;
  left: 143px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-20 {
  position: absolute;
  top: 7px;
  left: 143px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .image-4 {
  position: absolute;
  width: 98px;
  height: 100px;
  top: 0;
  left: 31px;
  aspect-ratio: 0.98;
  object-fit: cover;
}

.my .div-wrapper {
  position: absolute;
  top: 72px;
  left: 135px;
}

.my .image-5 {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 81px;
  left: 177px;
}

.my .group-4 {
  position: absolute;
  width: 131px;
  height: 59px;
  top: 6px;
  left: 900px;
}

.my .text-wrapper-21 {
  position: absolute;
  width: 70px;
  top: 41px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-22 {
  position: absolute;
  top: 0;
  left: 71px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.my .ellipse-4 {
  top: 4px;
  left: 112px;
  border-radius: 7.5px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}




.my .group-wrapper {
  position: absolute;
  width: 1280px;
  height: 120px;
  top: 44px;
  left: -2px;
}

.my .group-5 {
  position: relative;
  width: 1224px;
  height: 100px;
  top: 13px;
  left: 18px;
}

.my .view-2 {
  position: absolute;
  width: 626px;
  height: 100px;
  top: 0;
  left: 31px;
}

.my .first-a-to-cart {
  position: absolute;
  top: 75px;
  left: 105px;
}

.my .image-6 {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 80px;
  left: 145px;
}

.my .view-3 {
  position: absolute;
  width: 17px;
  height: 21px;
  top: 76px;
  left: 112px;
}

.my .text-wrapper-23 {
  position: absolute;
  top: 51px;
  left: 112px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.my .element-5 {
  position: absolute;
  top: 27px;
  left: 113px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-24 {
  position: absolute;
  top: 4px;
  left: 112px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.my .image-7 {
  position: absolute;
  width: 99px;
  height: 100px;
  top: 0;
  left: 0;
  aspect-ratio: 0.99;
  object-fit: cover;
}

.my .chk-box #chk-1 {
  position: absolute;
  top: 40px;
  left: 2px;
  padding-left: 0px;
}

.my .chk-box #chk-2 {
  position: absolute;
  top: 150px;
  left: 2px;
  padding-left: 0px;
}

.my .chk-box #chk-3 {
  position: absolute;
  top: 270px;
  left: 2px;
  padding-left: 0px;
}

.my .chk-box #chk-4 {
  position: absolute;
  top: 500px;
  left: 2px;
  padding-left: 0px;
}

.my .chk-box #chk-5 {
  position: absolute;
  top: 700px;
  left: 2px;
  padding-left: 0px;
}

.my .chk-box #chk-6 {
  position: absolute;
  top: 800px;
  left: 2px;
  padding-left: 0px;
}

.my .group-6 {
  position: absolute;
  width: 332px;
  height: 84px;
  top: 5px;
  left: 898px;
}

.my .text-wrapper-25 {
  position: absolute;
  top: 67px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}


.my .group-7 {
  position: absolute;
  width: 278px;
  height: 22px;
  top: 10px;
  left: 47px;
}

.my .text-wrapper-26 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-27 {
  position: absolute;
  top: 0;
  left: 100px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-28 {
  position: absolute;
  top: 0;
  left: 205px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.my .navbar-wrapper {
  position: absolute;
  width: 1920px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #919191;
}

.my .navbar {
  position: relative;
  width: 1292px;
  height: 42px;
  top: 29px;
  left: 319px;
}

.my .text-wrapper-29 {
  top: 18px;
  left: 177px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-30 {
  top: 18px;
  left: 256px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-31 {
  top: 18px;
  left: 316px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-32 {
  top: 18px;
  left: 395px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.my .logo-colored {
  position: absolute;
  width: 148px;
  height: 37px;
  top: 0;
  left: 0;
}

.my .vector-2 {
  position: absolute;
  width: 25px;
  height: 37px;
  top: 1px;
  left: 0;
}


.my .overlap-group-3 {
  position: absolute;
  width: 48px;
  height: 36px;
  top: 2px;
  left: 26px;
}


.my .vector-7 {
  position: absolute;
  width: 16px;
  height: 27px;
  top: 10px;
  left: 122px;
}

.my .vector-8 {
  position: absolute;
  width: 9px;
  height: 26px;
  top: 10px;
  left: 140px;
}

.my .vector-9 {
  position: absolute;
  width: 9px;
  height: 8px;
  top: 0;
  left: 140px;
}

.my .text-wrapper-33 {
  top: 19px;
  left: 1199px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.my .icon-shopping-cart {
  position: absolute;
  top: 14px;
  left: 1153px;
  aspect-ratio: 1;
}

.my .vector-10 {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 0;
  left: 0;
}

.my .vector-11 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 17px;
  left: 4px;
}

.my .vector-12 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 17px;
  left: 12px;
}

.my .icon-caret-down {
  position: absolute;
  top: 20px;
  left: 1265px;
}

.my .vector-13 {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 7px;
  left: 4px;
}

.my .overlap-wrapper {
  position: absolute;
  width: 222px;
  height: 39px;
  top: 112px;
  left: 530px;
}

.my .overlap-8 {
  position: relative;
  height: 39px;
}

.my .frame-3 {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  top: 0;
  left: 107px;
  align-items: center;
  position: absolute;
}

.my .text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0000004c;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.my .frame-4 {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  top: 0;
  left: 0;
  align-items: center;
  position: absolute;
}

.my .text-wrapper-35 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0000004c;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.my .text-wrapper-36 {
  position: absolute;
  top: 117px;
  left: 371px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}