@charset "UTF-8";

.screen {
    width: 100vw;
    height: 770px;    
    background-color: #ffffff;
    justify-items: center;
    align-items: start;
    min-height: 100vh;
    padding-right: 0;
}

/*헤더 css*/
.screen .header {
    background-color: #ffffff;
    width: 1920px;
    height: 79px;       /* border가 있기 때무에 1px 작음 */
    position: relative;
    border-bottom: 1px solid #eaeaea;
}

.logo-colored {
    position: relative;
    width: 150px;
    height: 37px;
    padding-right: 14px;
}

.header-menu {
    position: relative;
    padding: 0px 14px 0px 14px;
    font-size: 20px;
    font-family: 'inter';
    font-weight: bold;
}

.screen .auto-layout-left {
    display: flex;
    width: 799px;
    height: 80px;
    align-items: center;
    padding: 0px 0px 0px 320px;
    position: absolute;
    top: 0;
}

.screen .auto-layout-right {
    display: flex;
    width: 449px;
    height: 80px;
    align-items: center;
    padding: 0px 320px 0px 0px;
    position: absolute;
    top: 0;
    left: 1468px;
}

.screen .shopping-cart-frame {
    position: relative;
    width: 45px;
    height: 20px;
}

.screen .icon-shopping-cart {
    color: #EF5327;
    position: relative;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
}

.screen .header-usermenu {
    font-size: 14px;
    font-family: 'inter';
    font-weight: normal;
}

.screen .icon-caret-down {
    position: relative;
    width: 18px;
    height: 18px;
}